@keyframes rellenar {
    to{
        stroke-dasharray: 90 100;
    }
}

@keyframes rellenar2 {
    to{
        stroke-dasharray: 75 100;
    }
}

@keyframes rellenar3 {
    to{
        stroke-dasharray: 60 100;
    }
}

@keyframes rellenar4 {
    to{
        stroke-dasharray: 60 100;
    }
}

@keyframes rellenar5 {
    to{
        stroke-dasharray: 70 100;
    }
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.graficos{
    display: flex;
    justify-content: center;
}

.circulo1{
    fill: none;
    stroke-width: 20;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-dasharray: 100 100;
    stroke: rgb(190, 190, 190);
}
.circulo2{
    fill: none;
    stroke-width: 20;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-dasharray: 100 100;
    stroke: rgb(190, 190, 190);
}

.circulo3{
    fill: none;
    stroke-width: 20;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-dasharray: 100 100;
    stroke: rgb(190, 190, 190);
}

.circulo4{
    fill: none;
    stroke-width: 20;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-dasharray: 100 100;
    stroke: rgb(190, 190, 190);
}

.circulo5{
    fill: none;
    stroke-width: 20;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-dasharray: 100 100;
    stroke: rgb(190, 190, 190);
}

.fondo1{
    stroke-dasharray: 0 100;
    stroke: gray;
    animation: rellenar .99s linear forwards;
}

.fondo2{
    stroke-dasharray: 0 100;
    stroke: gray;
    animation: rellenar2 .99s linear forwards;
}

.fondo3{
    stroke-dasharray: 0 100;
    stroke: gray;
    animation: rellenar3 .99s linear forwards;
}

.fondo4{
    stroke-dasharray: 0 100;
    stroke: gray;
    animation: rellenar4 .99s linear forwards;
}

.fondo5{
    stroke-dasharray: 0 100;
    stroke: gray;
    animation: rellenar5 .99s linear forwards;
}

.porcentajes{
    position: relative;
}

.porcentajes span{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 30%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulos{
    text-align: center;
}

.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.lista:hover{
    color: rgb(45, 45, 212);
}

li{
    margin-right: 50px;
}

.cuadro{
    border: 2px solid black;
    width: 800px;
}

svg{
    margin-right: 20px;
    margin-left: 20px;
}

hr{
    border: none;
    height: 2px;
    background-color: black;
    
}

.skills{
    margin-left: 50px;
    font-size: 20px;
}

.linea{
    width: 140px;
    margin-left: 10px;
    margin-right: 10px;
}

.puesto{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: -50px;
    margin-bottom: -15px;
}

.nombre{
    font-size: 30px;
}

.listas{
    display: flex;
}

.experiencia{
    margin-left: 50px;
}

.img{
    margin-top: 40px;
    margin-right: 50px;
}

.iconos{
    margin-right: 6px;
}

.iconos:hover{
    height: 17px;
    width: 17;
    margin-right: 6px;
}

.educacionYhobby{
    display: flex;
    justify-content: space-between;
}

.hobby{
    margin-right: 140px;
}

.hobby1{
    display: flex;
}

.iconos2{
    margin-right: 40px;
    height: 40px;
}

.lineaHorizontal{
    border: none;
    border-left: 2px solid black;
    height: 230px;
    margin-bottom: 40px;
}

.parrafo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.yo{
    width: 250px;
}

.linea5{
    rotate: 90deg;
}

button{
    background-color: white;
    border: none;
}

button:hover{
    cursor: pointer;
}
.hidden{
    display: none;
}
.show{
    
}

.contenedorp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    background-color: rgb(190, 190, 190);
}